<!-- Main -->
<section id="main">
    <div class="flex-column jc-center">
        <h2 id="insiteText" class="fs-13 p-tb-01 m-b-10 brr-4 bshadow color-white bgc-orange lheight-15 text-center">error 404</h2>
        <div class="brc-red brr-4 fs-12 color-orange bshadow p-05 m-b-10 flex flex-column jc-center aitems-center lheight-15">
            <span class="color-darkblue fs-16 mbottom-05 block">Сторінка не знайдена</span>
            <span class="color-darkblue mtop-05">Помилка 404</span>
        </div>
        <a href="{{ index_page }}" class="link-black-orange brr-4 p-05 bshadow item-center mbottom-05"><span>повернутися на головну сторінку</span></a>
    </div>
</section>

