@charset "UTF-8";
@import url(font-awesome.min.css);

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
/*************************************************************/
/*************************************************************/

/*-----------------*/
/*---мої скріпти---*/
/*-----------------*/
body, html, h1, h2, h3, h4, h5{	font-family: 'Roboto Condensed', sans-serif; color: rgba(245,124,0 ,1);	font-size: 13px;	letter-spacing: 0.07em;	font-weight: 300;	height: 100%;	z-index: 0;}
html{display: none}
input, textarea {	font-size: 12px;}
label{ margin: 0; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
	border: 2px solid rgba(245,124,0 ,0.8);
	color: rgba(245,124,0 ,1);
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
/*----------------------*/
/*-----Index Page-------*/
/*----------------------*/
.contentIndexPage{
	background-color: #ffffff;
	background-image: url("../../images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("../../images/overlay.png"), -webkit-linear-gradient(30deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("../../images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-repeat: repeat,			no-repeat,			no-repeat;
	background-size: 100px 100px, cover,				cover;
	background-position: top left,		center center,		bottom center;
	background-attachment: fixed,			fixed,				fixed;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;

	text-transform: uppercase;
}

#wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1em;
}
#main{
	position: relative;
	padding: 1.5em;
	background-color: rgba(245,245,245 ,1);
	border-radius: 4px;
	box-shadow: 3px 3px 15px -3px grey;
	width: 280px;
}
.contentOtherPage{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	line-height: 1.6em;
}

#indexPageInfoUser{	flex-direction: column;}
#indexPageInfoUser>div:first-child{	align-items: center;}

/*-----------------------------------------*/
/*-------заноловки та форми----------------*/
/*-----------------------------------------*/
#box-insite{ -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }
/*-----------------------------------------*/
/*---логотип сайта на титульній сторінці---*/
/*-----------------------------------------*/
div.avatar{	background-color: rgba(245,245,245 ,1);	padding: 10px;	position: relative;	display: inline-block;	z-index: 9999;}
div.avatar>img{	padding: 5px;	border-radius: 50%;}
.avatar-hr{	position: relative;	border: solid 1px rgba(255,167,38 ,1);	top: 83px;	width: auto;	z-index: 1;}

/*-------------------------------------------*/
/*---інформація про розробника знизу сайта---*/
/*-------------------------------------------*/
.copy{ color: rgba(251,233,231 ,1); line-height: 1.5em; text-align: center;}
.copy a{ color: rgba(191,54,12 ,1); font-weight: 900; text-decoration: none;}
.copy a:hover{	color: rgba(230,74,25 ,1);}

/*------------------------------------------------------*/
/*---інформаційний блок з кількістю доданих дилематів---*/
/*------------------------------------------------------*/
#allInfo{
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	text-align: center;
}

.allInfo{
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	text-align: center;
}

/*--------------------------------*/
/*---маленьке меню зверху сайта---*/
/*--------------------------------*/
.menuSmall{ width: 330px;}
.smallMenuImg{ width: 110px;}
/*-------------------------------*/
/*---горизонтальна пряма лінія---*/
/*-------------------------------*/
.hr{border: solid 1px rgba(245,124,0 ,1);	width: 100%;}
.hr-05{	border-top: solid 1px rgba(245,124,0 ,1); border-bottom: solid 1px rgba(245,124,0 ,0); border-left: solid 1px rgba(245,124,0 ,0); border-right: solid 1px rgba(245,124,0 ,0); width: 100%;}
.hr--rel{width: 138%; position: relative; left: -19%;}

/*---------------------*/
/*---силки-------------*/
/*---------------------*/
.link{ border: 1px solid rgba(230,74,25 ,.5); border-radius: 4px; padding: 2px 2px 2px 2px; text-decoration: none;}
.link:hover{color: rgba(38,50,56 ,1);	background-color: rgba(245,124,0 ,.3);	padding: 1px 1px 1px 1px;	border: 2px solid rgba(245,124,0 ,1);}

.linkNext{ padding: 0 .6em; text-decoration: none;}
.linkNext:hover{color: rgba(245,124,0 ,1); padding: 0 .6em;	}

.link-black-orange{ background-color: rgba(250,250,250 ,1); text-decoration: none; text-align: center; color: rgba(245,124,0 ,1); border: 2px solid rgba(245,124,0 ,1); -webkit-transition: color .3s, border .3s; transition: color .3s, border .3s; }
.link-black-orange:hover{ color: rgba(1,2,63 ,1); border: 2px solid rgba(1,2,63 ,1);}

.link-black-white{ text-decoration: none;	text-align: center;	background-color: rgba(245,124,0 ,1);	color: rgba(251,233,231 ,1);	border: 2px solid rgba(245,124,0 ,1); -webkit-transition: color .3s, border .3s; transition: color .3s, border .3s; }
.link-black-white:hover{	color: rgba(1,2,63 ,1);	border: 2px solid rgba(1,2,63 ,1);}

.link-black-red{ text-decoration: none;	text-align: center;	background-color: rgba(244,67,54,1);	color: rgba(251,233,231 ,1);	border: 2px solid rgba(213,0,0 ,1); -webkit-transition: color .3s, border .3s; transition: color .3s, border .3s; }
.link-black-red:hover{	color: rgba(1,2,63 ,1);	border: 2px solid rgba(1,2,63 ,1);}

.link-white-red{ text-decoration: none;	text-align: center;	background-color: rgba(250,250,250 ,1);	color: rgba(1,2,63 ,1);	border: 2px solid rgba(213,0,0 ,1); -webkit-transition: color .3s, border .3s; transition: color .3s, border .3s; }
.link-white-red:hover{	color: rgba(1,2,63 ,1);	border: 2px solid rgba(1,2,63 ,1);}

.link-black-green{ text-decoration: none;	text-align: center;	background-color: rgba(129,199,132 ,1);	color: rgba(251,233,231 ,1);	border: 2px solid rgba(46,125,50 ,1); -webkit-transition: color .3s, border .3s; transition: color .3s, border .3s; }
.link-black-green:hover{	color: rgba(1,2,63 ,1);	border: 2px solid rgba(1,2,63 ,1);}

.link-scale{ text-decoration: none;	text-align: center;	background-color: white;-webkit-transform: scale(1);	transform: scale(1); -webkit-transition: color .3s; transition: color .3s; }
.link-scale:hover{	color: rgba(1,2,63 ,1);	-webkit-transform: scale(1.02);	transform: scale(1.02);}
/*-----------------------------------------*/
/*---кнопка входу через соціальні мережі---*/
/*-----------------------------------------*/
.socialIco{
	text-decoration: none;
	border: 1px solid rgba(245,124,0 ,1);
	border-radius: .5em;
	margin: 0 .5em;
	padding: .2em;
	width: 90px;
	color: rgba(40,53,147 ,1);
	box-shadow: 3px 3px 15px -3px grey;
	-webkit-transition: color .3s, border .3s;
	transition: color .3s, border .3s;
}
.socialIco:hover{
	color: rgba(1,2,63 ,1);
	border: 1px solid rgba(1,2,63 ,1);
}
/*--------------------------------------------*/
/*---кнопка загрузки зображення до делимата---*/
/*--------------------------------------------*/
.linkOrange{
	text-decoration: none;	text-align: center;	background-color: rgba(245,124,0 ,1);	color: rgba(251,233,231 ,1);	border: 2px solid rgba(245,124,0 ,1); -webkit-transition: color .3s, border .3s; transition: color .3s, border .3s;
}
.hover{
	color: rgba(1,2,63 ,1);	border: 2px solid rgba(1,2,63 ,1);
}
/*--------------------------------*/
/*---стрінка показу дилематів-----*/
/*--------------------------------*/
.nextDylematySmall{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: stretch; align-content: stretch;}

/*збільшене зображення при кліку на зображення дилемата*/
#bigImgContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height:100%;
	z-index: 9999;
	left: 0;
	top: 0;
	margin: auto;
	background-color: rgba(33,33,33 ,.9);
	overflow-y: auto;	overflow-x: hidden;
}
#bigImgItem{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: auto;
	height: auto;

}
/*--------------------------------*/
/*---стрінка додавання дилематів-----*/
/*--------------------------------*/
ul{	margin: 0;}

.container-ask{	position: relative;	display: -webkit-box;	display: -ms-flexbox;	display: flex;	-webkit-box-orient: vertical;	-webkit-box-direction: normal;	-ms-flex-direction: column;	flex-direction: column;	-webkit-box-align: stretch;	-ms-flex-align: stretch;	align-items: stretch;	-webkit-box-pack: justify;	-ms-flex-pack: justify;	justify-content: space-between;}

/*------------------------------------------*/
/*---форма загрузки зображень на сервер-----*/
/*------------------------------------------*/
.imgbox{
	display: block;
	width: 100%;
}
ul#files1, ul#files2{ list-style:none; padding:0; margin:0; }
ul#files1 li, ul#files2 li{
	font-size: .7em;
	display: block;
	padding:2px;
	margin-bottom:2px; float:none;
	position: relative;
}
ul#files1 li img, ul#files2 li img{ width:100%; height:auto; border-radius: 4px;}
#img1Cont, #img2Cont{
	display: flex; align-items: center; justify-content: center;
}

.saveAll{ text-align: left; background-color: rgba(197,225,165 ,1); border:2px solid rgba(27,94,32 ,1); color: rgba(69,90,100 ,1);}
.saveAll span{ color: rgba(245,124,0 ,1); }
.ok{ background-color: rgba(197,225,165 ,1); border:2px solid rgba(27,94,32 ,1); color: rgba(96,125,139,1);}
.error{ background-color: #f0c6c3; border:2px solid rgba(213,0,0 ,1); color: rgba(109,76,65 ,1);}
#sekundy{ color: rgba(213,0,0 ,1); }
.container-img-saveAll{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
/*end form load img***************************/

/*------------*/
/*---Menu-----*/
/*------------*/
.menu-box{	display: -webkit-box;	display: -ms-flexbox;	display: flex;	-webkit-box-orient: vertical;	-webkit-box-direction: normal;	-ms-flex-direction: column;	flex-direction: column;	-webkit-box-align: center;	-ms-flex-align: center;	align-items: center;	z-index: 9999;	left: 0px;	width: auto;	height: 100%;	position: fixed; padding: 16px; background-color: rgba(100,100,100,0.8);	overflow-y: auto;	overflow-x: hidden;}
.linkMenu{	min-width: 11em;}
.btn-menu {	z-index: 9999;	font-size: 25px;	color: #FFFDE7;	width: auto;	position: fixed;	cursor: pointer;	border: none;	top: 0;	left: 0;	padding: 1px 5px 2px 5px;	margin: 7px;	background-color: rgba(100,100,100,0.6);	border-radius: 4px;}
/*------------------------------------*/
/*---сторінка додавання дилематів-----*/
/*------------------------------------*/
.small-btn-close{	display: -webkit-box;	display: -ms-flexbox;	display: flex;	-webkit-box-pack: center;	-ms-flex-pack: center;	justify-content: center;	-webkit-box-align: center;	-ms-flex-align: center;	align-items: center;	z-index: 9999;	position: absolute;	right: 0;	background-color: rgba(176,190,197 ,.8);	width: auto;	height: auto;	border-radius: 4px;	border: 1px solid rgba(244,67,54,0.4);	color:rgba(244,67,54,.4);	margin: 2px 4px;	padding: .5em; font-size: 2em;	-webkit-transition: border .5s, color .5s, background-color .5s, box-shadow .5s;	transition: border .5s, color .5s, background-color .5s, box-shadow .5s;}
.small-btn-close:hover{	border: 1px solid rgba(213,0,0,1);	color:rgba(213,0,0 ,1);	background-color: rgba(84,110,122 ,1);	box-shadow: 0px 0px 2px 2px rgba(84,110,122 ,1);}

.small-btn-rotate{	display: -webkit-box;	display: -ms-flexbox;	display: flex;	-webkit-box-pack: center;	-ms-flex-pack: center;	justify-content: center;	-webkit-box-align: center;	-ms-flex-align: center;	align-items: center;	z-index: 9999;	position: absolute;	left: 0;	background-color: rgba(176,190,197 ,.8);	width: auto;	height: auto;	border-radius: 4px;	border: 1px solid rgba(244,67,54,0.4);	color:rgba(244,67,54,.4);	margin: 2px 4px;	padding: .5em; font-size: 2em;	-webkit-transition: border .5s, color .5s, background-color .5s, box-shadow .5s;	transition: border .5s, color .5s, background-color .5s, box-shadow .5s;}
.small-btn-rotate:hover{	border: 1px solid rgba(213,0,0,1);	color:rgba(213,0,0 ,1);	background-color: rgba(84,110,122 ,1);	box-shadow: 0px 0px 2px 2px rgba(84,110,122 ,1);}

.img{ position: relative!Important; margin-bottom: 1em;}
.img img{-webkit-transform: scale(1);transform: scale(1);	cursor: pointer;	position: relative!Important;	-webkit-transition: all .5s;	transition: all .5s;}
.img img:hover{	-webkit-transform: scale(1.02);	transform: scale(1.02);}

.infoImg{position: absolute;	padding: 0;	width: 100%;	height: auto;	line-height: 1.5em;	text-align: center;}
strong {font-weight: 700;}

.smoll{	margin:1em 0;}

/*------------------------------------*/
/*---блоки з рекламою-----*/
/*------------------------------------*/
.reklam-block-vartical{
	width: auto;
	height: auto;
	position: fixed;
}

.leftR, .rightR, .rightRIndex{
	-ms-flex-preferred-size: 1px;
	flex-basis: 1px;
	margin: 0;
}
#reklam-block-gorizontal {
	width: 200px;
	height: 200px;
	display: block;
}
#reklam-block-vartical-left{
	display: none;
}
#reklam-block-vartical-right{
	display: none;
}

/*****end opacity*********/
.opacity-25{ opacity: 0.25; filter:alpha(opacity=25); }
.opacity-50{ opacity: 0.5; filter:alpha(opacity=50); }
/****************************/
ul.icons li a{	border: 2px solid;}
ul.icons li a:hover{	color: black!Important;}
ul.icons li a:before{	text-shadow: 2px 2px rgba(245,124,0 ,1), -2px 2px rgba(245,124,0 ,1),	2px -2px rgba(245,124,0 ,1), -2px -2px rgba(245,124,0 ,1);}
/*----------------------------------------------------------*/
/************************************************************/

/*-------MEDIA-------*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 568px) {
	body {font-size: 14px;}

	#main {	width: 350px;}
	#indexPageInfoUser{	flex-direction: column;}
	#indexPageInfoUser>div:first-child{	align-items: center;}

	#box-insite{ -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;}

	.menuSmall{ width: 380px;}
	.smallMenuImg{ width: 120px;}

	.rightR{-ms-flex-preferred-size: 120px;flex-basis: 120px;}

	#reklam-block-vartical-right{
		width: 120px;
		height: 600px;
		display: block;
	}

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body{ font-size: 16px; }

	#main {	width: 500px;}
	#indexPageInfoUser{	flex-direction: row;}
	#indexPageInfoUser>div:first-child{	align-items: flex-start;}
	#box-insite{ -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;}

	.menuSmall{ width: 550px;}
	.smallMenuImg{ width: 150px;}

	#contentDylemat{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
	#img-1, #img-2{ -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
	#img-1{margin-right: 1em;}

	p.infoImg{font-size: 1em;}
	p.infoImg hr{margin-top: .3em; margin-bottom: .3em;}

	#container-ask{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
	#container-small-ask{ width: 235px;}

	.rightR{ -ms-flex-preferred-size: 160px; flex-basis: 160px;}

	#reklam-block-vartical-left{
		display: none;
	}
	#reklam-block-vartical-right{
		width: 160px;
		height: 600px;
		display: block;
	}
	#reklam-block-gorizontal{
		width: 300px;
		height: 250px;
		display: block;
	}
}

@media (min-width: 1130px) {
	body {font-size: 16px;}

	#main {	width: 850px;}
	#indexPageInfoUser{	flex-direction: row;}
	#indexPageInfoUser>div:first-child{	align-items: flex-start;}
	#box-insite{ -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;}

	.menuSmall{ width: 950px;  margin-top: 25px;}
	.smallMenuImg{ width: 150px;}

	#dylemat{ font-size: 1.6em;}
	#katName{ font-size: 1.2em;}
	#kategoria{ font-size: 1.1em;}
	#department{ font-size: 1em;}

	p.infoImg{font-size: 1em;}
	p.infoImg hr{margin-top: .3em; margin-bottom: .3em;}

	#contentDylemat{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
	#img-1, #img-2{ -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
	#img-1{margin-right: 1em;}

	#container-ask{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
	#container-small-ask{ width: 405px;}

	.rightR{ -ms-flex-preferred-size: 120px; flex-basis: 120px;}

	#reklam-block-vartical-left{
		display: none;
	}
	#reklam-block-vartical-right{
		width: 120px;
		height: 600px;
		display: block;
		bottom: 0;
	}
	#reklam-block-gorizontal{
		width: 750px;
		height: 200px;
		display: block;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
	body {font-size: 16px;}

	#main {	width: 850px;}
	#indexPageInfoUser{	flex-direction: row;}
	#indexPageInfoUser>div:first-child{	align-items: flex-start;}
	#box-insite{ -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;}

	.menuSmall{ width: 950px;  margin-top: 25px;}
	.smallMenuImg{ width: 150px;}

	#dylemat{ font-size: 1.7em;}
	#katName{ font-size: 1.3em;}
	#kategoria{ font-size: 1.2em;}
	#department{ font-size: 1em;}

	p.infoImg{font-size: 1em;}
	p.infoImg hr{margin-top: .3em; margin-bottom: .3em;}

	#contentDylemat{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
	#img-1, #img-2{ -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
	#img-1{margin-right: 1em;}

	#container-ask{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
	#container-small-ask{ width: 405px;}

	.rightR{ -ms-flex-preferred-size: 160px; flex-basis: 160px;}

	#reklam-block-vartical-left{
		display: none;
	}
	#reklam-block-vartical-right{
		width: 160px;
		height: 600px;
		display: block;
		bottom: 0;
	}
	#reklam-block-gorizontal{
		width: 750px;
		height: 200px;
		display: block;
	}
}


/****************************/
/********** COLORS **********/
/****************************/
.bgc-orange{background-color: rgba(245,124,0 ,1);}
.bgc-white{	background-color: white;}
.bgc-pink{	background-color: rgba(255,138,128 ,.4);}

.color-orange{	color: rgba(245,124,0 ,1);}
.color-white{	color: rgba(251,233,231 ,1);}
.color-blue{	color: rgba(40,53,147 ,1);}
.color-darkblue{	color: rgba(1,2,63 ,1);}
.color-red{	color: rgba(213,0,0 ,1);}
.color-green{ color: rgba(76,175,80,1);}
.color-grey{ color: rgba(33,33,33 ,1)!important;}
/****************************/
/**** MARGIN, PADDING *******/
/****************************/
.m-0{ margin: 0; }
.m-01{ margin: .1em; }
.m-02{ margin: .2em; }
.m-03{ margin: .3em; }
.m-04{ margin: .4em; }
.m-05{ margin: .5em; }
.m-06{ margin: .6em; }
.m-07{ margin: .7em; }
.m-08{ margin: .8em; }
.m-09{ margin: .9em; }
.m-10{ margin: 1em; }
.m-auto{ margin: auto; }

.mtop--10{	margin-top:-1em;}
.mtop--09{	margin-top:-.9em;}
.mtop--08{	margin-top:-.8em;}
.mtop--07{	margin-top:-.7em;}
.mtop--06{	margin-top:-.6em;}
.mtop--05{	margin-top:-.5em;}
.mtop--04{	margin-top:-.4em;}
.mtop--03{	margin-top:-.3em;}
.mtop--02{	margin-top:-.3em;}
.mtop--01{	margin-top:-.3em;}

.m-t-10{ margin-top:1em;}
.m-t-09{ margin-top:.9em;}
.m-t-08{ margin-top:.8em;}
.m-t-07{ margin-top:.7em;}
.m-t-06{ margin-top:.6em;}
.m-t-05{ margin-top:.5em;}
.m-t-04{ margin-top:.4em;}
.m-t-03{ margin-top:.3em;}
.m-t-02{ margin-top:.3em;}
.m-t-01{ margin-top:.3em;}

.mtop-0{ margin-top: 0!Important; }
.mtop-01{ margin-top: .1em!Important; }
.mtop-02{ margin-top: .2em!Important; }
.mtop-03{ margin-top: .3em!Important; }
.mtop-04{ margin-top: .4em!Important; }
.mtop-05{ margin-top: .5em!Important; }
.mtop-06{ margin-top: .6em!Important; }
.mtop-07{ margin-top: .7em!Important; }
.mtop-08{ margin-top: .8em!Important; }
.mtop-09{ margin-top: .9em!Important; }
.mtop-10{ margin-top: 1em!Important; }
.mtop-11{ margin-top: 1.1em!Important; }
.mtop-12{ margin-top: 1.2em!Important; }
.mtop-13{ margin-top: 1.3em!Important; }
.mtop-14{ margin-top: 1.4em!Important; }
.mtop-15{ margin-top: 1.5em!Important; }
.mtop-16{ margin-top: 1.6em!Important; }
.mtop-17{ margin-top: 1.7em!Important; }
.mtop-18{ margin-top: 1.8em!Important; }
.mtop-19{ margin-top: 1.9em!Important; }
.mtop-20{ margin-top: 2em!Important; }

.mbottom-01{ margin-bottom: .1em!Important; }
.mbottom-02{ margin-bottom: .2em!Important; }
.mbottom-03{ margin-bottom: .3em!Important; }
.mbottom-04{ margin-bottom: .4em!Important; }
.mbottom-05{ margin-bottom: .5em!Important; }
.mbottom-06{ margin-bottom: .6em!Important; }
.mbottom-07{ margin-bottom: .7em!Important; }
.mbottom-08{ margin-bottom: .8em!Important; }
.mbottom-09{ margin-bottom: .9em!Important; }
.mbottom-10{ margin-bottom: 1em!Important; }
.mbottom-11{ margin-bottom: 1.1em!Important; }
.mbottom-12{ margin-bottom: 1.2em!Important; }
.mbottom-13{ margin-bottom: 1.3em!Important; }
.mbottom-14{ margin-bottom: 1.4em!Important; }
.mbottom-15{ margin-bottom: 1.5em!Important; }
.mbottom-16{ margin-bottom: 1.6em!Important; }
.mbottom-17{ margin-bottom: 1.7em!Important; }
.mbottom-18{ margin-bottom: 1.8em!Important; }
.mbottom-19{ margin-bottom: 1.9em!Important; }
.mbottom-20{ margin-bottom: 2em!Important; }

.m-l-0{ margin-left: 0; }
.m-l-01{ margin-left: .1em; }
.m-l-02{ margin-left: .2em; }
.m-l-03{ margin-left: .3em; }
.m-l-04{ margin-left: .4em; }
.m-l-05{ margin-left: .5em; }
.m-l-06{ margin-left: .6em; }
.m-l-07{ margin-left: .7em; }
.m-l-08{ margin-left: .8em; }
.m-l-09{ margin-left: .9em; }
.m-l-10{ margin-left: 1em; }

.m-r-0{ margin-right: 0; }
.m-r-01{ margin-right: .1em; }
.m-r-02{ margin-right: .2em; }
.m-r-03{ margin-right: .3em; }
.m-r-04{ margin-right: .4em; }
.m-r-05{ margin-right: .5em; }
.m-r-06{ margin-right: .6em; }
.m-r-07{ margin-right: .7em; }
.m-r-08{ margin-right: .8em; }
.m-r-09{ margin-right: .9em; }
.m-r-10{ margin-right: 1em; }

.mlr-01{ margin-left: .1em; margin-right: .1em;}
.mlr-02{ margin-left: .2em; margin-right: .2em;}
.mlr-03{ margin-left: .3em; margin-right: .3em;}
.mlr-04{ margin-left: .4em; margin-right: .4em;}
.mlr-05{ margin-left: .5em; margin-right: .5em;}
.mlr-06{ margin-left: .6em; margin-right: .6em;}
.mlr-07{ margin-left: .7em; margin-right: .7em;}
.mlr-08{ margin-left: .8em; margin-right: .8em;}
.mlr-09{ margin-left: .9em; margin-right: .9em;}
.mlr-10{ margin-left: 1em; margin-right: 1em;}

.mtb-01{ margin-top: .1em; margin-bottom: .1em;}
.mtb-02{ margin-top: .2em; margin-bottom: .2em;}
.mtb-03{ margin-top: .3em; margin-bottom: .3em;}
.mtb-04{ margin-top: .4em; margin-bottom: .4em;}
.mtb-05{ margin-top: .5em; margin-bottom: .5em;}
.mtb-06{ margin-top: .6em; margin-bottom: .6em;}
.mtb-07{ margin-top: .7em; margin-bottom: .7em;}
.mtb-08{ margin-top: .8em; margin-bottom: .8em;}
.mtb-10{ margin-top: 1em; margin-bottom: 1em;}
.mtb-11{ margin-top: 1.1em; margin-bottom: 1.1em;}
.mtb-12{ margin-top: 1.2em; margin-bottom: 1.2em;}
.mtb-13{ margin-top: 1.3em; margin-bottom: 1.3em;}
.mtb-14{ margin-top: 1.4em; margin-bottom: 1.4em;}
.mtb-15{ margin-top: 1.5em; margin-bottom: 1.5em;}
.mtb-16{ margin-top: 1.6em; margin-bottom: 1.6em;}
.mtb-17{ margin-top: 1.7em; margin-bottom: 1.7em;}
.mtb-18{ margin-top: 1.8em; margin-bottom: 1.8em;}
.mtb-19{ margin-top: 1.9em; margin-bottom: 1.9em;}
.mtb-20{ margin-top: 2em; margin-bottom: 2em;}

.mtl-1{ margin-top: 1em; margin-left: 1em; }
.mtr-1{ margin-top: 1em; margin-right: 1em; }

.m-l--04{margin-left: -.4em;}

.p-0{ padding: 0; }
.p-01{ padding: .1em; }
.p-02{ padding: .2em; }
.p-03{ padding: .3em; }
.p-04{ padding: .4em; }
.p-05{ padding: .5em; }
.p-06{ padding: .6em; }
.p-07{ padding: .7em; }
.p-08{ padding: .8em; }
.p-09{ padding: .9em; }
.p-10{ padding: 1em; }
.p-11{ padding: 1.1em; }
.p-12{ padding: 1.2em; }

.p-lr-0{ padding-left: 0!Important; padding-right: 0!Important;}
.p-lr-01{ padding-left: .1em; padding-right: .1em;}
.p-lr-02{ padding-left: .2em; padding-right: .2em;}
.p-lr-03{ padding-left: .3em; padding-right: .3em;}
.p-lr-04{ padding-left: .4em; padding-right: .4em;}
.p-lr-05{ padding-left: .5em; padding-right: .5em;}
.p-lr-06{ padding-left: .6em; padding-right: .6em;}
.p-lr-07{ padding-left: .7em; padding-right: .7em;}
.p-lr-08{ padding-left: .8em; padding-right: .8em;}
.p-lr-09{ padding-left: .9em; padding-right: .9em;}
.p-lr-10{ padding-left: 1em; padding-right: 1em;}
.p-lr-11{ padding-left: 1.1em; padding-right: 1.1em;}
.p-lr-12{ padding-left: 1.2em; padding-right: 1.2em;}
.p-lr-13{ padding-left: 1.3em; padding-right: 1.3em;}
.p-lr-14{ padding-left: 1.4em; padding-right: 1.4em;}
.p-lr-15{ padding-left: 1.5em; padding-right: 1.5em;}
.p-lr-16{ padding-left: 1.6em; padding-right: 1.6em;}
.p-lr-17{ padding-left: 1.7em; padding-right: 1.7em;}
.p-lr-18{ padding-left: 1.8em; padding-right: 1.8em;}
.p-lr-19{ padding-left: 1.9em; padding-right: 1.9em;}
.p-lr-20{ padding-left: 2em; padding-right: 2em;}

.p-tb-01{ padding-top: .1em; padding-bottom: .1em; }
.p-tb-02{ padding-top: .2em; padding-bottom: .2em; }
.p-tb-03{ padding-top: .3em; padding-bottom: .3em; }
.p-tb-04{ padding-top: .4em; padding-bottom: .4em; }
.p-tb-05{ padding-top: .5em; padding-bottom: .5em; }
.p-tb-06{ padding-top: .6em; padding-bottom: .6em; }
.p-tb-07{ padding-top: .7em; padding-bottom: .7em; }
.p-tb-08{ padding-top: .8em; padding-bottom: .8em; }
.p-tb-09{ padding-top: .9em; padding-bottom: .9em; }
.p-tb-10{ padding-top: 1em; padding-bottom: 1em; }

.p-t-0{ padding-top: 0; }
.p-t-01{ padding-top: .1em; }
.p-t-02{ padding-top: .2em; }
.p-t-03{ padding-top: .3em; }
.p-t-04{ padding-top: .4em; }
.p-t-05{ padding-top: .5em; }
.p-t-06{ padding-top: .6em; }
.p-t-07{ padding-top: .7em; }
.p-t-08{ padding-top: .8em; }
.p-t-09{ padding-top: .9em; }
.p-t-10{ padding-top: 1em; }

.p-b-01{ padding-bottom: .1em; }
.p-b-02{ padding-bottom: .2em; }
.p-b-03{ padding-bottom: .3em; }
.p-b-04{ padding-bottom: .4em; }
.p-b-05{ padding-bottom: .5em; }
.p-b-06{ padding-bottom: .6em; }
.p-b-07{ padding-bottom: .7em; }
.p-b-08{ padding-bottom: .8em; }
.p-b-09{ padding-bottom: .9em; }
.p-b-10{ padding-bottom: 1em; }

.p-l-0{ padding-left: 0;}
.p-l-01{ padding-left: .1em;}
.p-l-02{ padding-left: .2em;}
.p-l-03{ padding-left: .3em;}
.p-l-04{ padding-left: .4em;}
.p-l-05{ padding-left: .5em;}
.p-l-06{ padding-left: .6em;}
.p-l-07{ padding-left: .7em;}
.p-l-08{ padding-left: .8em;}
.p-l-09{ padding-left: .9em;}
.p-l-10{ padding-left: 1em;}

.p-r-0{ padding-right: 0;}
.p-r-01{ padding-right: .1em;}
.p-r-02{ padding-right: .2em;}
.p-r-03{ padding-right: .3em;}
.p-r-04{ padding-right: .4em;}
.p-r-05{ padding-right: .5em;}
.p-r-06{ padding-right: .6em;}
.p-r-07{ padding-right: .7em;}
.p-r-08{ padding-right: .8em;}
.p-r-09{ padding-right: .9em;}
.p-r-10{ padding-right: 1em;}
/****************************/
/********** IMAGE ************/
/****************************/
.img-10{	width: 10%!Important;	height: auto;	position: relative; }
.img-20{	width: 20%!Important;	height: auto;	position: relative; }
.img-30{	width: 30%!Important;	height: auto;	position: relative; }
.img-40{	width: 40%!Important;	height: auto;	position: relative; }
.img-50{	width: 50%!Important;	height: auto;	position: relative; }
.img-60{	width: 60%!Important;	height: auto;	position: relative; }
.img-70{	width: 70%!Important;	height: auto;	position: relative; }
.img-80{	width: 80%!Important;	height: auto;	position: relative; }
.img-90{	width: 90%!Important;	height: auto;	position: relative; }
.img-100{width: 100%!Important;	height: auto;	position: relative; }
/****************************/
/********** FONT ************/
/****************************/
.fs-07{ font-size: .7em; }
.fs-08{ font-size: .8em; }
.fs-09{ font-size: .9em; }
.fs-10{ font-size: 1em; }
.fs-11{ font-size: 1.1em; }
.fs-12{ font-size: 1.2em; }
.fs-13{ font-size: 1.3em; }
.fs-14{ font-size: 1.4em; }
.fs-15{ font-size: 1.5em; }
.fs-16{ font-size: 1.6em; }
.fs-17{ font-size: 1.7em; }
.fs-18{ font-size: 1.8em; }
.fs-19{ font-size: 1.9em; }
.fs-20{ font-size: 2em; }

.fw-bold{ font-weight: bold; }
.letter-sp{ letter-spacing: .1em; }
.lheight-10 { line-height: 1em; }
.lheight-11 { line-height: 1.1em; }
.lheight-12 { line-height: 1.2em; }
.lheight-13 { line-height: 1.3em; }
.lheight-14 { line-height: 1.4em; }
.lheight-15 { line-height: 1.5em; }
.lheight-16 { line-height: 1.6em; }
.lheight-17 { line-height: 1.7em; }
.lheight-18 { line-height: 1.8em; }
.lheight-19 { line-height: 1.9em; }
.lheight-20 { line-height: 2em; }
.lheight-21 { line-height: 2.1em; }
.lheight-22 { line-height: 2.2em; }
.lheight-23 { line-height: 2.3em; }
.lheight-24 { line-height: 2.4em; }
.lheight-25 { line-height: 2.5em; }
.lheight-26 { line-height: 2.6em; }
.lheight-27 { line-height: 2.7em; }
.lheight-28 { line-height: 2.8em; }
.lheight-29 { line-height: 2.9em; }
.lheight-30 { line-height: 3em; }
/****************************/
/********** BORDER **********/
/****************************/
.border{	border: 1px solid rgba(245,124,0 ,1); }
.border1{	border: 1px solid rgba(245,124,0 ,1); }
.border2{	border: 2px solid rgba(245,124,0 ,1); }
.border3{	border: 3px solid rgba(245,124,0 ,1); }
.border4{	border: 4px solid rgba(245,124,0 ,1); }
.border5{	border: 5px solid rgba(245,124,0 ,1); }

.brr-1{	border-radius: 1px; }
.brr-2{	border-radius: 2px; }
.brr-3{	border-radius: 3px; }
.brr-4{	border-radius: 4px; }
.brr-5{	border-radius: 5px; }
.brr-6{	border-radius: 6px; }
.brr-7{	border-radius: 7px; }
.brr-8{	border-radius: 8px; }
.brr-9{	border-radius: 9px; }
.brr-10{border-radius: 10px; }

.brr-50{ border-radius: 50%; }
/*----------------------------*/
.brc-red{ border: 1px solid rgba(213,0,0 ,1); }
.brc-red2{ border: 2px solid rgba(213,0,0 ,1); }
.brc-blue{ border: 1px solid rgba(1,2,63 ,1); }
.brc-blue-boootom{ border-bottom: 1px solid rgba(1,2,63 ,1); }
.bshadow{  box-shadow: 3px 3px 15px -3px grey;}
.bshadow-white{ box-shadow: 0 0 15px -3px rgba(245,245,245 ,1); }
.text-shadow{ text-shadow: 0 0 10px grey; }
/****************************/
/****** DISPLAY-BlOCK *******/
/****************************/
.block{ display: block; }
.block-inline{ display: inline-block; }

.pos-stat{ position: static;}
.pos-fix{ position: fixed;}
.pos-rel{ position: relative;}
.pos-abs{ position: absolute;}

.left0{ left:0;}
.top0{ top: 0;}
.right0{ right: 0;}
.bottom0{ bottom: 0;}

.fl-left{ float: left; }
.fl-right{ float: right; }
/****************************/
/********** FLEX ************/
/****************************/
.flex{ display: flex; }
.flex-column{ display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.flex-row{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.flex-wrap{-ms-flex-wrap: wrap;flex-wrap: wrap;}
.flex-nwrap{-ms-flex-wrap: nowrap;flex-wrap: nowrap;}

.jc-center{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-between{ -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.jc-around{ -ms-flex-pack: distribute; justify-content: space-around; }

.aitems-start{ -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.aitems-center{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.aitems-stretch{ -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch;}
.aitems-bline{ -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline;}

.item-stretch{ -ms-flex-item-align: stretch!Important; -ms-grid-row-align: stretch!Important; align-self: stretch!Important; }
.item-center{ -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;}
.item-auto{-ms-flex-item-align: auto;-ms-grid-row-align: auto;align-self: auto;}
.item-start{ -ms-flex-item-align: flex-start!Important; align-self: flex-start!Important; }
.item-end{ -ms-flex-item-align: flex-end!Important; align-self: flex-end!Important; }

.f-grow1{ -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1;}
/****************************/
/********** OTHER ************/
/****************************/
.text-center{ text-align: center;}
.text-justify{ text-align: justify;}
.text-vert{ vertical-align: middle;}
.text-in-line{white-space: nowrap;}
.text-dec-no{text-decoration: none;}
.text-small{ overflow: hidden; text-overflow: ellipsis;}
.text-dec-no{text-decoration: none;}
.word-wrap{ word-wrap: break-word; }
.no-upper{ text-transform: none; }
.upper{text-transform: uppercase;}

.first-letter-07:first-letter{font-size: .7em;}
.first-letter-08:first-letter{font-size: .8em;}
.first-letter-09:first-letter{font-size: .9em;}
.first-letter-10:first-letter{font-size: 1em;}
.first-letter-11:first-letter{font-size: 1.1em;}
.first-letter-12:first-letter{font-size: 1.2em;}
.first-letter-13:first-letter{font-size: 1.3em;}
.first-letter-14:first-letter{font-size: 1.4em;}
.first-letter-15:first-letter{font-size: 1.5em;}
.first-letter-16:first-letter{font-size: 1.6em;}
.first-letter-17:first-letter{font-size: 1.7em;}
.first-letter-18:first-letter{font-size: 1.8em;}
.first-letter-19:first-letter{font-size: 1.9em;}
.first-letter-20:first-letter{font-size: 2em;}
/****************************/
/********** WIDTH ************/
/****************************/
.maxw-10{ max-width: 10%; }
.maxw-20{ max-width: 20%; }
.maxw-30{ max-width: 30%; }
.maxw-40{ max-width: 40%; }
.maxw-50{ max-width: 50%; }
.maxw-60{ max-width: 60%; }
.maxw-70{ max-width: 70%; }
.maxw-80{ max-width: 80%; }
.maxw-90{ max-width: 90%; }
.maxw-calc{ max-width: 90%; }

.w-10{ width: 10%; }
.w-20{ width: 20%; }
.w-30{ width: 30%; }
.w-40{ width: 40%; }
.w-50{ width: 50%; }
.w-60{ width: 60%; }
.w-70{ width: 70%; }
.w-80{ width: 80%; }
.w-90{ width: 90%; }
.w-100{ width: 100%; }
.w-auto{ width: auto; }
.w-330{width: 330px;}

.h-auto{ height: auto!Important; }
.h-100{ height: 100%!Important; }
